html,
body,
#root,
.App {
  height: 100%;
  margin: 0;
}
* {
  box-sizing: border-box;
}
body {
  background-color: #ae9dbb;
  font-family: sans-serif;
  font-weight: 500;
}

.App {
  display: flex;
  margin: 0 auto;
  max-width: 728px;
  text-align: center;
  justify-content: center;
}

.App .section {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: #efede9;
  border-radius: 30px;
  margin: 6rem auto;
  border: 3px black solid;
  box-shadow: 5px 5px black;
}

.header-btn {
  position: absolute;
  background: #efede9;
  border-radius: inherit;
  top: 0;
  width: 100%;
  padding: 0.75rem 0;
  /* border-bottom: 2px black solid; */
}
main {
  padding: 10px;
  height: 80vh;
  margin: 4rem 0 4rem;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  border-radius: inherit;
}

main::-webkit-scrollbar {
  width: 0.25rem;
}

/* main::-webkit-scrollbar-track {
  background: #1e1e24;
} */

main::-webkit-scrollbar-thumb {
  background: #6649b8;
}

.form-container {
  width: 95%;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0.5rem;
  left: 1rem;
  padding: 5px;
  height: 4rem;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 35px;
}
.form-text-input {
  flex: 1;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.644);
  border: none;
  border-radius: inherit;
  outline: none;
  padding: 0.5rem;
}

.form-button {
  background-color: #fff;
  cursor: pointer;
  height: 100%;
  color: #b1b0b0;
  font-size: 1.25em;
  margin: 0 1.25rem;
  padding: 0;
  border: none;
}

.signBtn {
  background-color: #971f1f; /* Green */
  border: none;
  border-radius: 20px;
  color: white;
  padding: 0.75rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.25rem;
}

.signBtn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.signIn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

ul,
li {
  text-align: left;
  list-style: none;
}

p {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: black;
  text-align: center;
}

.message {
  display: flex;
  align-items: center;
  margin-bottom: 0.25rem;
  border-radius: 25px;
}

.sent {
  flex-direction: row-reverse;
}

.sent p {
  background: #6bafbb;
  align-self: flex-end;
  border: 3px solid black;
}
.received p {
  background: none;
  border: 3px solid black;
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}
.message_icons {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0 3px;
}
.message_button {
  background: none;
  text-decoration: none;
  border: none;
  color: black;
}
.message_button:hover {
  cursor: pointer;
}
.message_image {
  width: 250px;
  height: 250px;
  border-radius: 25px;
}
.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #00cc66 transparent #00cc66 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
